.login .loginDetail {
	width: 500px;
	margin: 130px auto;
}

.login .loginDetail .top {
	width: 455px;
	height: 41px;
	line-height: 38px;
	clear: both;
	padding-top: 4px;
	padding-left: 45px;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	color: #515151;
	overflow: hidden;
	background: url(images/login_bg.gif) no-repeat 0px -120px;
}

.login .loginDetail .middle {
	width: 500px;
	clear: both;
	background: url(images/login_y_bg.gif) repeat-y -400px 0px;
	padding:10px 0px 0px 130px;
}

.login .loginDetail .bottom {
	width: 500px;
	height: 60px;
	clear: both;
	overflow: hidden;
	background: url(images/login_bg.gif) no-repeat 0px -180px;
}